#aboutme {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
}

#aboutme img{
    width: 100%;
    max-height: 100%;
}
#aboutme p{
    margin: 30px;
}
#aboutme{
    font-size: 1.5rem;
}

#aboutme h1{ grid-area: 1 / 1 / 2 / 5; margin: 30px;}
#aboutme #aboutme-description { grid-area: 2 / 1 / 4 / 5; }
#aboutme .img1 { grid-area: 1 / 5 / 4 / 8; position: relative; align-self: flex-end;}

@media (max-width: 800px){
    #aboutme {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem;
    } 
}