.c1 > section > div {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 40px;
    grid-auto-flow: row;
    grid-template-areas:
        "p1 img1"
        "p2 img1";
}
.c1 img{
    width: 100%;
    max-height: 100%;
}
.c1 .p1 { grid-area: p1; margin-bottom: 15px;}

.c1 .p2 {grid-area: p2; }

.c1 .img1 { grid-area: img1; position: relative;}

