footer{
    width: 100%;
    min-height: 200px;
    position: relative;
    background-color: var(--footer);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "proxima_novasemibold", Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
}


footer > div{
    max-width: 400px;
    margin: 0 7%;
}

footer h2{
    font-size: 40px;
    position: relative;
}
footer h2::before{
    content: "";
    width: 30%;
    height: 5px;
    background-color: rgb(180, 15, 15) ;
    position: absolute;
    bottom: -10px;
    left: 0;
}
footer p, footer span{
    font-size: 25px;
    margin-bottom: 30px;
}

.socials{
    list-style-type: none;
    display: flex;
    padding: 0;
}
.socials li{
    font-size: 30px;
    background-color: rgb(51, 51, 51);
    margin: 5px 10px 5px 0;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.socials > li:hover{
    background-color: var(--content3);
}

.socials a{
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact div{
    margin: 10px;
}
.contact div span{
    margin-right: 10px;
}
