article{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    font-family: "proxima_novasemibold", Arial, Helvetica, sans-serif;
}
section{
    max-width: 1000px;
    font-size: 20px;
    margin: 20px 0 80px 0;
    padding: 20px;
    position: relative;
}
section h1{
    color:red;
}

@media (max-width:800px){
    section{
        max-width: 500px;
    }
    p{
        margin: 0.25rem;
    }
}


/* COLORS AND STUFF */

.content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content:first-child{
    background-color: var(--content1);;
}
.content:last-child{
    background-color: var(--content3);
    padding-bottom: 150px;
}

::-webkit-scrollbar{
    background-color: rgb(75, 11, 11);
}
::-webkit-scrollbar-thumb {
    background: rgb(126, 7, 7);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 12, 12);
}
