:root{
    --content3: #6d0f0f;
    --content1: #111111;
    --footer: rgb(29,29,29);
    --background: rgb(29,29,29);
    --progress:rgb(196, 20, 20); 
    --un-progress: rgb(87, 87, 87);
}
html{
    scroll-behavior: smooth;
}
body, html{
    overflow-x: hidden;
}

p{
    margin: 0;
}
h1{
    font-size: 2.5em;
}

article{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    font-family: "proxima_novasemibold", Arial, Helvetica, sans-serif;
}
section{
    max-width: 800px;
    font-size: 20px;
    margin: 20px 0 80px 0;
    padding: 20px;
    position: relative;
}
section > .s1{
    font-size: 1.2em;
}
section h1{
    color:red;
}

@media (max-width: 720px){
    section > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.p1{
    grid-column: 1/3;
}
.p2{
    grid-column: 2/4;
}



/* COLORS AND STUFF */

.content{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content.c1{
    background-color: var(--content1);;
}
.content.c2{
    margin-top: 90px;
    margin-bottom: 150px;
}
.content.c3{
    background-color: var(--content3);
    padding-bottom: 150px;
}

::-webkit-scrollbar{
    background-color: rgb(75, 11, 11);
}
::-webkit-scrollbar-thumb {
    background: rgb(126, 7, 7);
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 12, 12);
}





