#more h1{
    margin-bottom: 40px;
    color: white;
    text-align: center;
    font-size: 4rem;
}
#more h2{
    font-size: 2.5rem;
    margin: 0;
    text-align: center;

    color: var(--footer);
}

#more{
    max-width: 100%;
}
#more ul{
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem 3rem;
}
#more ul > li{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    padding: 0 50px;
    list-style: none;
}
#more ul > li > ul{
    font-size: 25px;
    font-weight: normal;
    margin-top: 4rem;
    display: grid;
    justify-content: center;

}
#more ul > li > ul > li{
    display: grid;
}
#more h3{
    margin-top: 3rem;
    font-weight: 700;
    width: 260px;
}
#more h4{
    margin: 20px;
    margin-bottom: 5px;
}
#more ul{
    padding-inline-start: 0;
    margin-block-start: 0;
}